<h1>Products</h1>

<ul>
  {{#each products}}
    <li>
        <span> <b>{{this.title}}</b> </span>
        - <span> Id: {{this._id}} </span>
        - <span> Price: ${{this.price}} </span>
        - <span> Stock: {{this.stock}} </span>
        - <span> Category: {{this.category}} </span>
    </li>
  {{/each}}
</ul>
